.header {
  align-items: center;
  background-color:white;  
  color: white;
  display: flex; 
  position: fixed;
  top: 0;
  width: 100%;
}

.header button {
  align-items: center;
  border-style: none;
  color: white;  
  display: flex;
  flex-grow: 1;
  height: 50px;  
  justify-content: center;
}

.header button::after {
  content: "→";
}

.header button:nth-child(1){
  background-color: #2FC18C;
  color: black;  
}
.header button:nth-child(2){
  background-color: #036B52;  
}

.header button:nth-child(3){
  background-color: #421981;  
}

.header button:nth-child(4){
  background-color: #056CF9;  
}
